html {
  box-sizing: border-box;
  background-color: ##f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {

  box-sizing: inherit;
}

body {

  display: grid;
  margin: 0;
}

img {

  width: 100%;
}

header {

  display: contents;
}

h1 {

  width: 14rem;
}

h2 {

  font-family: "Patua One", sans-serif;
  color: #30658d;
}

ul {

  font-family: "Patua One", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {

  font-family: Georgia, serif;
}
