html {
  background-color: #f2f1ed;
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {

  box-sizing: inherit;
}

body {

  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1rem);
  grid-template-areas:
  "banner banner"
  "col1 col2";
  gap: 1rem;
}

img {

  width: 100%;
}

header {

  display: contents;
}

h1 {

  width: 14rem;
}

h2 {

  font-family: "Patua One", sans-serif;
  color: #30658d;
}

ul {

  font-family: "Patua One", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p {

  font-family: Georgia, serif;
}
